%ul#files.dropdown-menu.scroll-menu{role: "menu", "aria-labelledby" => "FileList"}
  - unless @documents.nil?
    - @documents.each do |doc|
      %li{role: 'presentation'} 
        %a.file(class='file-list' href="#{doc[:file]}" name="#{doc[:name]}" role='menuitem' tabindex='-1')
          %i.icon-file.a
          = doc[:name]
