-# JQuery
-# v2.1.0
%script(type="text/javascript" src="/js/jquery-2.1.0.min.js")
-#%script(type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js")
-#:javascript
  -#window.jQuery || document.write("<script src='/js/jquery-2.1.0.min.js'>\x3C/script>")

-# UI
%script(type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js")
%script(type="text/javascript" src="/js/jquery.touch.min.js")

%script(type="text/javascript" src="/js/d3.min.js")
-#%script(type="text/javascript" src="http://d3js.org/d3.v3.min.js")
-#:javascript
  -#window.jQuery || document.write("<script src='/js/d3.min.js'>\x3C/script>")
%script(type="text/javascript" src="/javascripts/helpers.js")
%script(type="text/javascript" src="/javascripts/app.js")


%script(type="text/javascript" src="/js/bootstrap.min.js")
-#%script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
-#:javascript
  -#window.jQuery || document.write("<script src='/js/bootstrap.min.js'>\x3C/script>")




-#%script(type="text/javascript" src="/js/jquery.fullscreen-0.3.5.min.js")



