%div.landing
  %p Your browser is to old and don't support modern web standards.
  %p Please download and install one of them below.
  %p If you have any problems ask your administrator or a friend for help.
  
  %a(href ="http://www.google.com/chrome"              title="lade Chrome .." target="_blank")= img "chrome_49.png"
  %a(href ="http://www.mozilla-europe.org/de/firefox/" title="lade Firefox .." target="_blank")= img "firefox_49.png"
  %a(href ="http://www.apple.com/de/safari/download/"  title="lade Safari .."  target="_blank")= img "safari_49.png"

