/*fonts*/
$serif: 'Georgia', 'Cambria', "Times New Roman", Times, serif!important;
$sans-serif: 'News Cycle','Helvetica Neue',sans-serif!important;
$monospace: 'Monaco', 'Consolas', Courier, monospace!important;
/*colors*/
$text-color: rgba(76, 76, 76,1);
$bg-color: rgba(232, 233, 227,.5);
/*$bg-color: rgba(252, 253, 247,.5);*/

$head-color: rgba(86, 89, 92,1);
$red: rgba(197,37,16,1);
$green: rgba(13,161,62,1);
$blue: rgba(13,110,161,1);
$link:rgba(13, 110, 161,1);
$hover:rgba(53, 147, 217,1);
$visited: rgba(66,115,140,1);
