@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=News+Cycle:400,700");

@import "partials/base";
@import 'partials/media';
@import 'partials/layout';


/* general site */
.info {
  font-size:85%;
}

.file-list,.info-list {
  position: relative;
  left:-0.66em;
  text-align: left;
}

#content{
  position: relative;
  padding:1em;
  margin:0 0;
  top:50px;
  width:100%;
}

#footer {
  position:fixed;
  width:100%;
  font: 100% sans-serif;
  text-align: center;
  bottom:0;
  padding:13px 40%;
  background-color: rgba(253,253,253,0.7);
}

ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: auto;
  max-height: 500px;
}

/* index site related */

li.one-collection {
  border-bottom: 1px dotted #999;
}

.delete-collection {
/*  content: "×";*/
  float: right;
  &:hover {
    color:red;
    cursor:pointer;
  }
}

/* file upload related */

input.controls.form-control.error {
  border-color: rgb(255,53,13);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(137,12,68,0.6);
}

label {
  position: relative;
  float: none;
}

label.error {
  position: relative;
  float: right;
  font: 90%;
}

label[for='collection'].error {
  top:-3.75em;
}

label[for='filestyle-0'].error {
  right:-9.75em;
}

/* visuals related */

.outline {
  fill: none;
  stroke: #888888;
  stroke-width: 1px;
}

#tooltip {
  font-family: $sans-serif;
  font-size: 80%;
  font-weight: 600;
  color:black;
  fill: #000000;
  stroke: #ffffff;
  stroke-width: 0.25px;
}

.node {
  stroke: #ffffff;
  stroke-weight: 1px;
}

.link {
  fill: none;
  stroke: #888888;
  stroke-weight: 1px;
  stroke-opacity: 0.5;
}

.highlight {
  stroke: red;
  stroke-weight: 4px;
  stroke-opacity: 1.0;
}

.claim, .closer {
  background-color: rgba(250,252,252,0.975);
}
.claim {
  position: absolute;
  top:23%;
  display: none;
  cursor: move;
  opacity:0;
  font-family: $serif;
  max-height:50%;
  padding:7px 7px 7px 23px;
  box-shadow:0px 3px 7px 0px rgba(123,123,123,0.5);
  overflow: auto;
  width:95%;
}

.closer {
  position:absolute;
  top:-3px;
  left:3px;
  width: 10px;
  height: 10px;
  text-align:center;
  cursor:pointer;
  index:3;
  border-radius:5px;
  font: bold 1.3em sans-serif;
  &:hover{
    color:red;
    opacity:0.8;
  }
}

.ne {
  background-color: rgba(233,233,233,0.5);
  padding:1px 4px;
  cursor:pointer;
  border-radius: 3px;
}
text.node-index {
  position:absolute;
  top:57px;
  font-family:$sans-serif;
  font-size: 95%;
  font-weight: 600;
  fill: #fff;
}
